
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap");

body {
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    background-color: lightblue;
}

h1 {
    font-size: 1.5rem;
    text-transform: uppercase;
    font-weight: 700px;
    letter-spacing: 0.001cm;
    text-align: center;
}

p {
    font-size: 1.15rem;
    letter-spacing: 0.02cm;
}

img {
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
}

article {
    background-color: whitesmoke;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 20px;
    box-shadow: 4px 10px 50px rgba(119, 136, 153, 0.51);
    width: 700px;
    border-radius: 2rem;
/*     border: 1px solid rgb(61, 61, 61); */
}
main {
    display: grid;
    justify-content: center;
}

/* RESPONSIVE */

/* SMARTPHONE */
@media (min-width: 320px) and (max-width: 480px) {
    article {
        width: 250px;
        font-size: 0.2rem;
        border-radius: 1rem;
    }

    a {
        font-size: 1rem;
    }

}

/* TABLET */
/* @media (max-width: 768px) and (max-width: 1024px) {
    article {
        width: 700px;
        font-size: 4.5rem;
        border-radius: 1rem;
    }

    a {
        font-size: 1.5rem;
    }
 */




/* MOTO G4 */
/* @media (max-width: 578px) and (min-width: 291px){
    article {
        width: 500px;
    }
} */

/* IPAD 2022*/
/* @media (max-width: 2360) and (min-width:1640){

} */